<div class="row">
  <label class="col-xs-3 control-label" for="username">Login Name:</label>
  <div class="col-xs-3">
    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="userName">
    <div [hidden]="checkUserName() === ''"
         class="alert alert-danger">
      {{checkUserName()}}
    </div>
  </div>
  <div class="col-xs-2">
    <label class="testCSS">Test CSS</label>
  </div>
  <div class="col-xs-4">
    <button type="button" class="btn btn-primary"
            [disabled]="!userName || userName.length < 3" (click)="login()">
      Login
    </button>
  </div>
</div>

